.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Maindiv{
  height: 550px;
  width: 1270px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(206, 208, 210);
}

.innerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 390px;
  border-radius: 2%;
  box-shadow: #282c34;
  background-color: rgb(255, 255, 255);
}

.smallBTN{
  display: flex;
  float: right;
  height: 20px;
  width: 50px;
  border-radius: 25px; 
  background-color: orangered;
}

.Butn{
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color:white;
}

.Line{

  width: 280px;
  height: 30px;
  border: 3px solid black;
  border-radius: 20px;
  background-color:rgb(206, 208, 210);
}

.bigBTN{

  width: 140px;
  height: 35px;
  background-color: orange;
  color: black;
  border-radius: 4px;
}